/*

	Variables

*/

/* Colors */
$brand-red: #DD390E;
$brand-yellow: #FFC469;
$brand-blue: #A1DAE3;
$light-gray-bg: #F6F6F6;
$light-gray-copy: #919191;
$dark-gray-copy: #212121;
$hairline: #D8D8D8;
$hairline-light: #e5e5e5;
$white: #fff;

/* Font stacks */
$font-family-base: "Source Sans Pro", Helvetica, Arial, sans-serif;
// $font-family-headline: "Georgia", "Cambria", "Times New Roman", "Times", serif;
// $font-family-display: $font-family-headline;
// $font-family-plain: Arial, sans-serif;

/* Breakpoints - Mobile First Method */
$custom: new-breakpoint(min-width 320px); 	/* Custom, iPhone Retina */
$xsmall: new-breakpoint(min-width 480px);	/* Extra Small Devices, Phones */
$small: new-breakpoint(min-width 768px);	/* Small Devices, Tablets */
$medium: new-breakpoint(min-width 992px);	/* Medium Devices, Desktops */
$large: new-breakpoint(min-width 1200px);	/* Large Devices, Wide Screens */

/* Transition defaults */
$transition-link: .1s linear;
$transition-button: .2s linear;
