/*
 * styles.scss
 * Global style imports. This file should contain @import rules only.
 */
/* Shared + Variables.
================================================== */
/* Type defaults */
/* Neat Grid */
html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/*

	Variables

*/
/* Colors */
/* Font stacks */
/* Breakpoints - Mobile First Method */
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/* Transition defaults */
/* Vendor + Component imports.
================================================== */
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* Site specific imports.
================================================== */
/*

	Base styles and typography

*/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/* _base.scss is used to define base styles, ported from bootstrap, for the project */
@media print {
  *,
  *:before,
  *:after {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; }
  select {
    background: #fff !important; }
  .navbar {
    display: none; }
  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important; }
  .label {
    border: 1px solid #000; }
  .table {
    border-collapse: collapse !important; }
  .table td,
  .table th {
    background-color: #fff !important; }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important; } }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  color: #337ab7;
  text-decoration: none; }

a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline; }

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto; }

.img-rounded {
  border-radius: 6px; }

.img-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.img-circle {
  border-radius: 50%; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit; }

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777; }

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px; }

h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%; }

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px; }

h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%; }

h1,
.h1 {
  font-size: 36px; }

h2,
.h2 {
  font-size: 30px; }

h3,
.h3 {
  font-size: 24px; }

h4,
.h4 {
  font-size: 18px; }

h5,
.h5 {
  font-size: 14px; }

h6,
.h6 {
  font-size: 12px; }

p {
  margin: 0 0 10px; }

.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4; }

@media (min-width: 768px) {
  .lead {
    font-size: 21px; } }

small,
.small {
  font-size: 85%; }

mark,
.mark {
  padding: .2em;
  background-color: #fcf8e3; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-nowrap {
  white-space: nowrap; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

.text-muted {
  color: #777; }

.text-primary {
  color: #337ab7; }

a.text-primary:hover {
  color: #286090; }

.text-success {
  color: #3c763d; }

a.text-success:hover {
  color: #2b542c; }

.text-info {
  color: #31708f; }

a.text-info:hover {
  color: #245269; }

.text-warning {
  color: #8a6d3b; }

a.text-warning:hover {
  color: #66512c; }

.text-danger {
  color: #a94442; }

a.text-danger:hover {
  color: #843534; }

.bg-primary {
  color: #fff;
  background-color: #337ab7; }

a.bg-primary:hover {
  background-color: #286090; }

.bg-success {
  background-color: #dff0d8; }

a.bg-success:hover {
  background-color: #c1e2b3; }

.bg-info {
  background-color: #d9edf7; }

a.bg-info:hover {
  background-color: #afd9ee; }

.bg-warning {
  background-color: #fcf8e3; }

a.bg-warning:hover {
  background-color: #f7ecb5; }

.bg-danger {
  background-color: #f2dede; }

a.bg-danger:hover {
  background-color: #e4b9b9; }

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee; }

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px; }

ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0; }

.list-unstyled {
  padding-left: 0;
  list-style: none; }

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none; }

.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px; }

dl {
  margin-top: 0;
  margin-bottom: 20px; }

dt,
dd {
  line-height: 1.42857143; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .dl-horizontal dd {
    margin-left: 180px; } }

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777; }

.initialism {
  font-size: 90%;
  text-transform: uppercase; }

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee; }

blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0; }

blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #777; }

blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0'; }

.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  text-align: right;
  border-right: 5px solid #eee;
  border-left: 0; }

.blockquote-reverse footer:before,
blockquote.pull-right footer:before,
.blockquote-reverse small:before,
blockquote.pull-right small:before,
.blockquote-reverse .small:before,
blockquote.pull-right .small:before {
  content: ''; }

.blockquote-reverse footer:after,
blockquote.pull-right footer:after,
.blockquote-reverse small:after,
blockquote.pull-right small:after,
.blockquote-reverse .small:after,
blockquote.pull-right .small:after {
  content: '\00A0 \2014'; }

address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143; }

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }

kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25); }

kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: bold;
  -webkit-box-shadow: none;
  box-shadow: none; }

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px; }

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0; }

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll; }

/*
bootstrap-override.css is used to override the default selectors supplied by bootstrap.css. Do not add new selectors to this style sheet that don't already exist in bootstrap.css. If you'd like to override a default Bootstrap style simply copy/paste the selector from bootstrap.css into this bootstrap-override.css style sheet.

Make sure the selectors appear in the same order that they appear in bootstrap.css. With boostrap.css left untouched you should be able to update bootstrap.css to new versions of Bootstrap in the future with only small modifications needed to this bootstrap-override.css file.

Note: The only change made to bootstrap.css was to remove the Glyphicons selectors since this project is instead using Font Awesome. If bootstrap.css is updated in the future the Glyphicons selectors can again be removed.
*/
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  -webkit-font-smoothing: antialiased; }

html {
  font-size: 18px; }

body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: #919191;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures; }

a {
  color: #DD390E;
  text-decoration: none;
  -webkit-transition: color 0.15s ease-in-out;
  -moz-transition: color 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out; }

a:hover,
a:focus {
  color: #ad2d0b;
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 300;
  line-height: 1.4;
  color: #212121; }

h1,
.h1 {
  font-size: 42px; }

h2,
.h2 {
  font-size: 36px; }

h3,
.h3 {
  font-size: 30px; }

h4,
.h4 {
  font-size: 18px; }

h5,
.h5 {
  font-size: 16px; }

h6,
.h6 {
  font-size: 16px; }

@media (min-width: 600px) {
  h1,
  .h1 {
    font-size: 48px; }
  h2,
  .h2 {
    font-size: 42px; }
  h3,
  .h3 {
    font-size: 36px; }
  h4,
  .h4 {
    font-size: 24px; }
  h5,
  .h5 {
    font-size: 18px; }
  h6,
  .h6 {
    font-size: 16px; } }

p {
  margin: 0 0 30px;
  font-weight: 400; }

.btn {
  display: inline-block;
  padding: 12px 25px 16px;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 1000px; }

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: 0px; }

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15); }

.btn-default {
  color: #fff;
  background-color: #A1DAE3;
  border-color: #A1DAE3; }

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #fff;
  background-color: #7acbd7;
  border-color: #7acbd7; }

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: rgba(161, 218, 227, 0.4);
  border-color: rgba(161, 218, 227, 0.4); }

.btn-primary {
  color: #fff;
  background-color: #DD390E;
  border-color: #DD390E; }

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #ad2d0b;
  border-color: #ad2d0b; }

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none; }

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: rgba(221, 57, 14, 0.4);
  border-color: rgba(221, 57, 14, 0.4); }

.btn-lg,
.btn-group-lg > .btn {
  padding: 0px 35px 6px;
  font-size: 24px;
  line-height: 2.8;
  border-radius: 1000px; }

.btn-sm,
.btn-group-sm > .btn {
  padding: 6px 20px 8px;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 1000px; }

.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 1000px; }

.right {
  float: right; }

.left {
  float: left; }

.hide {
  display: none !important; }

/* 

  Grid is used to define common grid components for the project.

  

*/
/* Grid / Layout */
.container {
  max-width: 65em;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px; }
  .container::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 768px) {
    .container {
      max-width: 750px; } }
  @media screen and (min-width: 992px) {
    .container {
      max-width: 970px; } }
  @media screen and (min-width: 1200px) {
    .container {
      max-width: 1170px; } }

.row {
  display: block; }
  .row::after {
    clear: both;
    content: "";
    display: table; }

/* Construct .col-1.. helper classes */
.col-1 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%; }
  .col-1:last-child {
    margin-right: 0; }

.col-2 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%; }
  .col-2:last-child {
    margin-right: 0; }

.col-3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .col-3:last-child {
    margin-right: 0; }

.col-4 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .col-4:last-child {
    margin-right: 0; }

.col-5 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%; }
  .col-5:last-child {
    margin-right: 0; }

.col-6 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .col-6:last-child {
    margin-right: 0; }

.col-7 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%; }
  .col-7:last-child {
    margin-right: 0; }

.col-8 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .col-8:last-child {
    margin-right: 0; }

.col-9 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }
  .col-9:last-child {
    margin-right: 0; }

.col-10 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%; }
  .col-10:last-child {
    margin-right: 0; }

.col-11 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 91.4702%; }
  .col-11:last-child {
    margin-right: 0; }

.col-12 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .col-12:last-child {
    margin-right: 0; }

/* Construct .shift-1.. helper classes */
.shift-1 {
  margin-left: 8.5298%; }

.shift-2 {
  margin-left: 17.05961%; }

.shift-3 {
  margin-left: 25.58941%; }

.shift-4 {
  margin-left: 34.11922%; }

.shift-5 {
  margin-left: 42.64902%; }

.shift-6 {
  margin-left: 51.17883%; }

.shift-7 {
  margin-left: 59.70863%; }

.shift-8 {
  margin-left: 68.23843%; }

.shift-9 {
  margin-left: 76.76824%; }

.shift-10 {
  margin-left: 85.29804%; }

.shift-11 {
  margin-left: 93.82785%; }

.shift-12 {
  margin-left: 102.35765%; }

/* reusable/precomposed columns with responsive behavior */
/* col-@min-@med-@max */
.col-12-3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .col-12-3:last-child {
    margin-right: 0; }
  @media screen and (min-width: 768px) {
    .col-12-3 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .col-12-3:last-child {
        margin-right: 0; } }

/*
	Site layout
*/
nav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;
  width: 17.77778em; }

main {
  width: -webkit-calc(100% - 17.77778em);
  width: calc(100% - 17.77778em);
  height: 100%;
  margin-left: 320px;
  margin-right: auto;
  *zoom: 1; }
  main:before, main:after {
    content: " ";
    display: table; }
  main:after {
    clear: both; }

header .content {
  padding: 0 20px; }
  @media screen and (min-width: 992px) {
    header .content {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 8.5298%;
      padding: 0; }
      header .content:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1200px) {
    header .content {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      margin-left: 25.58941%; }
      header .content:last-child {
        margin-right: 0; } }

article {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  padding: 0 20px; }
  article:last-child {
    margin-right: 0; }
  @media screen and (min-width: 992px) {
    article {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 8.5298%;
      padding: 0; }
      article:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1200px) {
    article {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      margin-left: 25.58941%; }
      article:last-child {
        margin-right: 0; } }

/*
	Site nav
*/
nav.fixed {
  padding: 0 1rem 0 3em;
  border-right: 1px solid #e5e5e5; }
  nav.fixed .logo {
    font-size: 1.125rem; }
  nav.fixed ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    nav.fixed ul li {
      padding: 0;
      margin-bottom: .25em; }
      nav.fixed ul li a {
        font-size: 1rem; }
  nav.fixed h3 {
    font-size: 1.11111rem;
    font-weight: 400; }

/*
	Article Content
*/
main h1.headline {
  display: block;
  text-align: center;
  padding: 2rem 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid #e5e5e5; }
  main h1.headline::after {
    clear: both;
    content: "";
    display: table; }

main header {
  padding: 2rem 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid #e5e5e5; }
  main header h1 {
    text-align: center;
    margin-bottom: 1rem; }
  main header p {
    font-weight: 400;
    color: #212121; }

article {
  margin-bottom: 5rem; }
  article h1 {
    font-size: 2.6em; }
  article h2 {
    font-size: 1.3em;
    margin-bottom: 30px; }
  article h3 {
    font-size: 1.4em;
    font-weight: 400; }
  article code {
    padding: 0.2rem 0.4rem;
    font-size: 90%;
    color: #ffb6c1;
    background-color: #1c1c1c;
    border-radius: 4px; }
    article code.block {
      display: inline-block;
      padding: 8px 15px;
      margin-bottom: 30px; }
  article .highlight pre {
    width: 100%;
    font-size: 100%;
    padding: 8px 15px;
    margin-bottom: 30px;
    color: #ffb6c1;
    background-color: #1c1c1c;
    border-radius: 4px;
    display: inline-block; }
  article .links {
    margin-bottom: 0.5em; }
    article .links a:after {
      content: '\7C';
      margin: 0 10px;
      color: #919191; }
    article .links a:last-child:after {
      content: none; }
  article .details p {
    margin-bottom: 0.125em; }
